<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.coding.yourandroidwebapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SettingsActivity"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StartupActivity" />
        </activity>
        <activity
            android:name=".WebMainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.WEBMAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WebAppListActivity"
            android:label="@string/title_webapp_list"
            android:parentActivityName=".SettingsActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="fr.coding.yourandroidwebapp.SettingsActivity" />

        <activity
            android:name=".WebAppDetailActivity"
            android:label="@string/title_webapp_detail"
            android:parentActivityName=".WebAppListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".WebAppListActivity" />
        </activity>
        <activity
            android:name=".SSLSettingListActivity"
            android:label="@string/title_sslsetting_list"
            android:parentActivityName=".SettingsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.coding.yourandroidwebapp.SettingsActivity" />
        </activity>
        <activity
            android:name=".SSLSettingDetailActivity"
            android:label="@string/title_sslsetting_detail"
            android:parentActivityName=".SSLSettingListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.coding.yourandroidwebapp.SSLSettingListActivity" />
        </activity>
        <activity
            android:name=".HostAuthSettingsListActivity"
            android:label="@string/title_hostauth_list"
            android:parentActivityName=".SettingsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.coding.yourandroidwebapp.SettingsActivity" />
        </activity>
        <activity
            android:name=".HostAuthSettingsDetailActivity"
            android:label="@string/title_hostauth_detail"
            android:parentActivityName=".HostAuthSettingsListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HostAuthSettingsListActivity" />
        </activity>
        <activity
            android:name=".GoogleDriveSettingsActivity"
            android:label="@string/title_activity_google_drive_settings"
            android:parentActivityName=".SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.coding.yourandroidwebapp.SettingsActivity" />
        </activity>
        <activity
            android:name=".AdvancedSettingsActivity"
            android:label="@string/title_activity_advanced_settings"
            android:parentActivityName=".SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.coding.yourandroidwebapp.SettingsActivity" />
        </activity>
        <activity
            android:name=".StartupActivity"
            android:label="@string/title_activity_startup"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>