<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.coding.yourandroidwebapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SettingsActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WebMainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.WEBMAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WebAppListActivity"
            android:label="@string/title_webapp_list"></activity>
        <activity
            android:name=".WebAppDetailActivity"
            android:label="@string/title_webapp_detail"
            android:parentActivityName=".WebAppListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.coding.yourandroidwebapp.WebAppListActivity" />
        </activity>
    </application>

</manifest>
